.loginImg{
    border-radius: 50%;
    width: 100px;
    height: 100px;
 position: relative;
 left: 90px;
}

@media  screen and (max-width:780px){
    .loginImg{
      position: relative;
      left: 80px;
        width: 100px;
        height: 100px;
    }
    
}