@media screen and (max-width:742px){
    .notif{
         position: relative;
         left:280px;
         top: 50px;
    }
}
@media screen and (max-width:1273px){
    .notif{
      position: relative;
      top: 5rem;
    }
}
