@media screen and (max-width:786px){
    .notif{
         position: relative;
         left:280px;
         top: 30px;
    }
}
@media screen and (max-width:600px){
    .notif{
        position:  static;
    }
}
