
@media screen and (max-width:1273px){
    .notif{
      position: relative;
      top: 5rem;
    }
}
@media screen and (max-width:786px){
    .notif{
       position: relative;
         top: 0;
         
  
    }
}
