.logo{
    width: 200px;
    height: 200px;
    opacity: 6;
    filter: blur(10);
}

@media screen and (max-width:760px){
    .navbar{
        display: none;
     }
}

.navshow{
    display: block;
}

