.btn {

    position: fixed;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px; 
    z-index: 999;
    
}


@media screen and (max-width:1273px){
   
    .btn{
        display: block;
    }
}
