.card {
    border: 2px solid;
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 200px;
  
}

.icon {

    color: #2A3890;

}

.card-text {
    color: #2A3890;
}

@media screen and (max-width:600px) {
    .card {
        width: 200px;
    }

    .card-chart {
        width: 400px;
    }
}